* {
    margin: 0 auto;
}

#cards {
    position: absolute;
    top: 0px;
    z-index: 2;
    background-image: url('/textures/marble.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#deck {
    width: fit-content;
    position: absolute;
    margin: 2vh;
    left: 50%;
    transform: translate(-50%);
    overflow: visible;
}

#deck div {
    width: 15vw;
    height: 12vw;
    float: left;
    border: 0.3vw solid #d9a36a;
    margin: 1vw;
    margin-top: 0;
    transition: all 0.3s;
    position: relative;
    top: 100vh;
    background-color: #eccead;
    background-image: url('/textures/card.jpg');
    background-size: cover;
}

#deck div:hover {
    border: 0.3vw solid #ffffff;
}

#deck div p {
    color: #550000;
}

h3 {
    color: #66666600;
    background-color: #ffffff05;
    padding: 1vh;
    padding-top: 2vh;
    text-align: center;
    font-size: 6vh;
    margin-top: 2vh;
    font-family: Joan;
    font-weight: bold;
    font-style: italic;
    transition: all 1s;
}

header {
    transition: all 1s;
    width: 0vw;
    height: 15vh;
    overflow: hidden;
}