#greeting h1 {

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-color: #00000090;
    color: #cfcfcf;
    font-size: 4vh;

}

header p {

    position: absolute;
    top: 5.5vh;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    width: 100%;
    background-color: #55224460;
    color: #cfcfcf;
    font-size: 2.5vh;

}

#dice {

    background-color: #e6d1b3;
    position: absolute;
    width: 10vw;
    bottom: -25vh;
    left: 50%;
    transform: translate(-50%);
    border: 1vh solid #4a0a0a;
    /* background-image: linear-gradient(to right, #9d9280, #d2c9b8) */
    background-image: url('/textures/desert.jpg');
    /* border-radius: 20px; */
    transition: all 0.5s;

}

#dice * {
    font-family: Cardinal;
}

#dice h3 {

    text-shadow: 2px 2px #ffffff;
    text-align: center;
    color: #4a0a0a;
    font-size: 4vh;
    font-weight: bold;
    margin: 0 auto;
    text-decoration: underline;

}

#dice img {

    width: 10vw;
    height: 10vw;
    margin-top: 1vw;
    padding-top: 1vh;
    position: relative;
    z-index: 2;

}

#dice img:hover {

    /* text-shadow: 2px 2px #ffffff; */
    /* background-color: #ffffff60; */
    filter: brightness(0) invert(1);

}

#dice button {
    font-family: Joan;
    color: #cfcfcf;
    margin: 0.5vh;
    margin-bottom: 1vh;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 0.5vh;
    font-size: 2vh;
    background-color: #666666;
    width: 30%;
    transition: all 0.5s;
}

#dice button:hover {
    background-color: #999999;
    color: #000000;
}

#video {

    width: 80vw;
    height: 80vh;
    position: absolute;
    z-index: 10;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #665533;

}

#outcome {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

}

#outcome h3 {

    color: black;
    position: absolute;
    top: 0vh;
    left: 50%;
    transform: translate(-50%);

}

#outcome p {

    /* background-color: #ffffff50; */
    position: absolute;
    width: 100%;
    bottom: 0vh;
    text-align: center;
    color: black;
    left: 50%;
    transform: translate(-50%);

}

#outcome p:hover {

    /* background-color: #ffffff30; */
    font-style: italic;

}

#playersboard {

    position: absolute;
    height: 100vh;
    width: 15vw;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 4;
    background-color: #d3bd9290;
    border-right: 0.5vw solid #4a0a0a
}