* {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    cursor: url('../textures/cursor.jpg'), auto;
    font-family: Joan;
    -moz-user-select: none;
    user-select: none;
}

@font-face {
    font-family: Joan;
    src: url('../fonts/Joan-Regular.ttf');
}

@font-face {
    font-family: Cardinal;
    src: url('../fonts/Cardinal.ttf');
}

@font-face {
    font-family: Rune;
    src: url('../fonts/Rune.ttf');
}

@font-face {
    font-family: Celtic;
    src: url('../fonts/Celtic.ttf');
}

@font-face {
    font-family: Avara;
    src: url('../fonts/Avara.otf');
}

body {
    background-color: black;
}

::selection {
    background-color: #ffffff50;
}

h1 {
    font-family: Cardinal;
    position: relative;
    width: 100vw;
    text-align: center;
    z-index: 2;
    color: #999999;
    background-color: #00000080;
    font-size: 8vh;
    padding: 1vh;
    transition: all 0.5s;
}

h1:hover {
    transition: all 5s;
    color: #903030;
    background-color: #00000099;
}