* {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    cursor: url('../textures/cursor.jpg'), auto;
    font-family: Joan;
}

@font-face {
    font-family: Joan;
    src: url('../fonts/Joan-Regular.ttf');
}

body {
    background-color: black;
}