ul {
    position: absolute;
    width: 20vw;
    text-align: left;
}

#menu li {
    font-family: Cardinal;
    position: relative;
    z-index: 2;
    padding: 2vh;
    padding-left: 7vh;
    float: left;
    font-size: 3vw;
    width: fit-content;
    width: -moz-fit-content;
    transition: all 0.5s;
    list-style-type: none;
    color: #666666;
}

#menu li:hover {
    transform: translate(4vh);
    color: #999999
}

#menu li.chosen {
    transform: translate(4vh);
    /* text-decoration: underline; */
}

#menu li.chosen::before {
    content: '👁';
    position: absolute;
    z-index: 2;
    left: -1%;
}

#background {
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translate(-50%);
    width: 200vh;
    height: 100vh;
    z-index: 1;
}

#options {
    position: absolute;
    z-index: 2;
    left: 50vw;
    transform: translate(-50%);
    border: none;
    top: 15vh;
    width: 40vw;
    height: 0vh;
    background-color: #00000080;
    transition: all 0.5s;
}

#options * {
    text-align: center;
    color: #cfcfcf;
    font-weight: lighter;
}

#options h3 {
    font-size: 4vh;
    padding: 1vh;
    /* font-family: Cardinal; */

}

#options p {
    font-size: 2.5vh;
    padding: 1vh;
}

#options label {
    position: relative;
    float: left;
    left: 48%;
    transform: translate(-100%);
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2vh;
}

#options input {
    position: relative;
    float: right;
    left: -50%;
    transform: translate(100%);
    width: 25%;
    margin-top: 1vh;
    margin-bottom: 3vh;
    background-color: #666666;
    font-size: 2vh;
    transition: all 1s;
}

#options input:hover {
    background-color: #888888;
}

#options input:focus {
    outline: none !important;
    background-color: #888888;
}

#options input * {
    float: left
}

#options div p {
    position: absolute;
    left: 49%;
    top: 3.5vh;
    font-size: 0.8vw;
}

#options button {
    margin: 1vh;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 0.5vh;
    font-size: 2vh;
    background-color: #666666;
    width: 20%;
    transition: all 1s;
}

#options button:hover {
    background-color: #999999;
    color: #000000;
}

#volume {
    height: 3vh;
    width: 3vh;
    padding: 0.5vh;
    position: absolute;
    bottom: 5vh;
    left: 7vh;
    transform: translateY(50%);
    border-radius: 10%;
    background-color: #44444450;
    z-index: 2;
    transition: all 0.5s;
}

#volume:hover {
    background-color: #55555550;
    border-radius: 50%;
}