#waitingRoom {
    width: 40vw;
    height: 80vh;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid black;
    background-color: #00000090;
    z-index: 5;
}

#waitingRoom h2 {
    font-weight: lighter;
    padding: 2vh;
    color: white;
    text-align: center;
    font-size: 5vh;
}

p {
    margin: 2vh;
    color: #999999;
    font-size: 3vh;
    text-align: center;
}

span {
    margin-left: 2vh;
    -moz-user-select: element;
    user-select: text;
    font-family: 'Times New Roman', Times, serif;
}

#players {
    background-color: #ffffff20;
    margin-top: 2vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 50%;
    width: 50%;
}