#waitingRoom {
    width: 60vh;
    height: 80vh;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid black;
    background-color: #00000090;
    z-index: 5;
}

#waitingRoom h2 {
    font-size: 3vh;
    font-weight: lighter;
    padding: 2vh;
    color: white;
    text-align: center;
    font-size: 5vh;
}

p {
    margin: 2vh;
    color: #999999;
    font-size: 3vh;
    text-align: center;
}

span {
    margin-left: 2vh;
    -moz-user-select: element;
    user-select: text;
    font-family: 'Times New Roman', Times, serif;
}

#players {
    background-color: #ffffff20;
    margin-top: 2vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 50%;
    width: 60%;
}

#players div {
    overflow: auto;
    height: 100%;
}

#players p {
    font-size: 2.5vh;
    margin: 0.1vh;
    background-color: #00000050;
}

#waitingRoom button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    padding: 0.5vh;
    font-size: 2vh;
    font-weight: lighter;
    color: white;
    background-color: #666666;
    width: 25%;
    transition: all 1s;
}

#waitingRoom button:hover {
    background-color: #999999;
    color: #000000;
}

#waitingRoom img {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 7%;
    height: 7%;
}