#waitingRoom {
    width: 40vw;
    height: 80vh;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid black;
    background-color: #00000080;
}

h1 {
    color: white;
    text-align: center;
    font-size: 5vh;
}

p {
    color: white;
    font-size: 3vh;
    text-align: center;
}

span {
    background-color: #99554420;
    -moz-user-select: element;
    user-select: text;
}

#players {
    background-color: #ffffff20;
    margin-top: 2vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 50%;
    width: 50%;
}