<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/main.css">
    <script src="script/ui.js"></script>
    <script src="script/net.js"></script>
</head>

<body>
    <h1>Talisman might and magic the best project in the universe</h1>
    <div id="background"><img id="image" src="textures/village.jpg" alt="background" width="100%"></div>

    <div id="loginPanel">
        <input id="username" type="text">
        <button id="unameSubmit">submit</button>
        <p id="loginMsg"></p>
    </div>

    <script>
        const ui = new Ui()
        const net = new Net()


        ui.loginUi()

    </script>
</body>

</html>