<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talisman Might and Magic</title>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/ui.css">
    <link rel="icon" href="textures/favicon.ico">
    <script src="script/ui.js">
    </script>
    <script src="script/net.js"></script>
    <script src="script/global.js"></script>
    <script src="script/handleUser.js"></script>
</head>

<body>
    <img src="textures/statue.jpg" id="background">

    <h1>Talisman Might and Magic</h1>

    <ul id="menu">
        <li>join game</li>
        <li>login</li>
        <li>register</li>
        <li>statistics</li>
    </ul>

    <div id="options">
    </div>

    <img src="textures/volume_up.png" id="volume">

    <script>
        //clear saved cookies
        clearCookie()
        const audio = new Audio("music/menu.mp3")
        document.body.onclick = () => { audio.play() }

        const ui = new Ui();
        ui.init()
        const net = new Net();
        const handleUser = new HandleUser();
    </script>

</body>

</html>