<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talisman Might and Magic</title>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/ui.css">
    <script src="script/ui.js"></script>
    <script src="script/net.js"></script>
    <script src="script/global.js"></script>
</head>

<body>
    <img src="textures/statue.jpg" id="background">

    <h1>Talisman Might and Magic</h1>

    <ul id="menu">
        <li>join game</li>
        <li>login</li>
        <li>register</li>
        <li>statistics</li>
    </ul>
    
    <div id="options"></div>

    <script>
        let ui = new Ui();
        ui.init()
    </script>

</body>

</html>