<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talizman</title>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/cards.css">
    <link rel="stylesheet" href="style/waitingRoom.css">
    <link rel="stylesheet" href="style/cards.css">
    <script src="script/temp.js"></script>
    <script src="script/board.js"></script>
    <script src="script/game.js"></script>
    <script src="script/models.js"></script>
    <script src="script/three97.js"></script>
    <script src="script/tween.umd.js"></script>
    <script src="script/heroes.js"></script>
    <script src="script/startGame.js"></script>
    <script src="script/waitingRoom.js"></script>
    <script src="script/global.js"></script>
    <script src="script/net.js"></script>
    <script src="script/move.js"></script>
    <script src="script/cards.js"></script>
    <script src="script/orbitControls.js"></script>

</head>

<body>
    <div id="game" style="width:100vw;height:100vh;position:absolute"></div>
    <div id="die" style="height: 70px; width: 40px; background-color:aqua; position: absolute;">
        <button style="position: relative; left: 10%;" onclick="game.roll()">Roll!</button>
    </div>
    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());

        const game = new Game();
        const net = new Net();
        const waitingRoom = new WaitingRoom();
        const cards = new CardsDeck();

        waitingRoom.init()
    </script>

</body>

</html>